<h1>To Do's</h1>
<h2>Phase 1 - Basic Layout and Public Site</h2>
<ul>
	<li>To Do's Page</li>
	<li>Basic Style and menu</li>
	<li>Link back to agra</li>
	<li>coming soon page</li>
	<li>basic site is up</li>
	<li>Basic Ranking Page</li>
	<li>Greyhound Page</li>
	<li>Races Page</li>
	<li>Rules Page</li>
	<li>Admin Page</li>
</ul>
<h2>Phase 2 - Database Backing</h2>
<ul>
	<li>Greyhound CRUD</li>
	<li>Race CRUD</li>
	<li>Rules CRUD</li>
</ul>
<h2>Phase 3 - Admin Site</h2>
<ul>
	<li>Data Import</li>
	<li>Data Export</li>
	<li>Users CRUD</li>
	<li>Admin Security</li>
</ul>